Django==6.0.4
social-auth-app-django==5.4.3
django-cors-headers==4.7.0
python-dotenv==1.0.1
djangorestframework==3.17.1
django-filter==25.2
openpyxl==3.1.5
pdfplumber==0.11.9
pikepdf==10.9.1
reportlab==5.0.0
cryptography==45.0.6
whitenoise==6.11.0
